<div class="container">
    <div class="row justify-content-md-center">
        <div class="col mt-2">
        <%= render 'layouts/errors', obj: @workout %>
        <%= form_with(model: @workout, local: true) do |f| %>  

            <div class="card text-center shadow mb-5 rounded">
                <div class="card-header">
                    What did you do today?
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="col">
                             <div class="col">
                                    <div class="row">
                                        <%= f.label :workout %>:  
                                    </div>
                                    <div class="row">
                                        <%= f.select :title, ["Cycling",
                                                    "Elyptical trainer",
                                                    "Exercise bike",
                                                    "Hiking",
                                                    "Other activity",
                                                    "Running",
                                                    "Rackets", 
                                                    "Treadmill",
                                                    "Swimming",
                                                    "Weight",] 
                                    %>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <%= f.label :duration %>:
                                    </div>
                                    <div class="row mb">
                                        <%= f.select :duration, options_for_select((1..50).map { |i| ["#{i * 5} minutes"] }), class: 'form-control' %>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <%= f.label :calories%> : 
                                    </div>
                                    <div class="row mb">
                                        <%= f.select :calories, options_for_select((1..300).map { |i| ["#{i * 5} calories"] }), class: 'dropdown-menu' %>
                                    </div>

                                    
                                    <hr>
                                    <div class="row">
                                        <%= f.label :note %>
                                    </div>
                                    <div class="row">
                                        <%= f.text_area :note, rows: 4, class: "form-control rounded mb-4", placeholder: "notes" %>
                                    </div>
                                    <div class="row">
                                        <%= f.submit class: "btn btn-outline-success btn-block btn-lg mb-2" %>
                                        <%= link_to "Cancel and back to dashboard", workouts_path, class: "btn btn-outline-danger btn-block btn-lg ", data: {confirm: "Are you sure?"} %>
                                    </div>
                                </div>                        

                                    

                         </div>    
                </div>
               
            </div>

        </div>
        <%end%>
    </div>
</div> 