<div class="container">
<div class="row">
<div class="col">
  
  <% @workouts.each do |workout| %>
  
    <div class="card text-left shadow mb-2 bg-white rounded ">
     <div class="workout-card">
    
      <div class="card-header font-italic">
        Logged on <%= workout.created_at.strftime("%B %d %Y, %l:%M%P") %>
      </div>                
      
      <div class="card-body">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-9">
            
              <h5 class="card-title"><%= link_to workout.title, workout_path(workout), class: "text-success" %></h5>
              <p class="card-text"><%= truncate('Duration: ' + workout.duration + ' mins', length: 100) %> </p>
              <p class="card-text"><%= truncate('Energy burned: ' + workout.calories + ' kcal', length: 100) %></p>
              <p class="card-text"><%= truncate('Notes: ' + workout.note, length: 30) %></p>
              
            </div>
          
            <div class="col-3">
              <%=image_tag "sample_icon.png", class: "card-icon" %>
            </div>
          
          </div>
        </div>
        <div class="container">
         <div class="row">
          <div class="col text-center mb-1">
            <%= link_to "View", workout, class: "btn btn-block btn-outline-success" %>
          </div>
          <div class="col text-center mb-1">
            <%= link_to "Edit", edit_workout_path(workout), class: "btn btn-block btn-outline-info" %>
          </div>
          <div class="col text-center">
            <%= link_to "Delete", workout, class: "btn btn-block btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
          </div>
         
        </div>
    


        
      </div>

      <div class="card-footer mb-auto text-muted">
        <small>Updated <%= time_ago_in_words(workout.updated_at) %> ago</small>
      </div>
    </div>

  
  <% end %>
