<h2 class="text-center mt-4"></h2>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header">
        <div class="show-card-header">
          <%= @workout.title  %> on <%= @workout.created_at.strftime("%B %d %Y, %l:%M%P") %>
        </div>
        </div>
        <div class="card-body">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col">
            <%if @workout.title == 'Cycling'%>
              <%=image_tag "cycle.png", class: "card-icon p-2" %>
              <%elsif @workout.title == 'Elyptical trainer'%>
              <%=image_tag "gym.png", class: "card-icon p-2" %>
              <%elsif @workout.title == 'Exercise bike'%>
              <%=image_tag "gym.png", class: "card-icon p-2" %>
              <%elsif @workout.title == 'Hiking'%>
              <%=image_tag "hiking.png", class: "card-icon p-2" %>
              <%elsif @workout.title == 'Other activity'%>
              <%=image_tag "other.png", class: "card-icon p-2" %>
              <%elsif @workout.title == 'Running'%>
              <%=image_tag "run.png", class: "card-icon p-2" %>
              <%elsif @workout.title == 'Rackets'%>
              <%=image_tag "racket.png", class: "card-icon p-2" %>
              <%elsif @workout.title == 'Treadmill'%>
              <%=image_tag "run.png", class: "card-icon p-2" %>
              <%elsif @workout.title == 'Swimming'%>
              <%=image_tag "swim.png", class: "card-icon p-2" %>
              <%elsif @workout.title == 'Weight'%>
              <%=image_tag "weight.png", class: "card-icon p-2" %>
              
              <%end%>  
             </div>
          </div>
          <div class="col">

          <div class="card-text-title text-left"><%= simple_format('Duration: ' + @workout.duration + ' mins') %></div>
              <div class="card-text text-left"><%= simple_format('Energy burned: ' + @workout.calories + ' kcal') %></div>
              <div class="card-text text-left"><%= simple_format('Notes: ' + @workout.note) %></div>

            
            </div>
        </div>       
          
          
          <%= link_to "Edit", edit_workout_path(@workout), class: "btn btn-block btn-outline-info" %>
          <%= link_to "Delete", workout_path(@workout), class: "btn btn-block btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          <%= link_to "Dashboard", workouts_path, class: "btn btn-block btn-outline-info" %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@workout.created_at) %> ago, 
          edited <%= time_ago_in_words(@workout.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
</div>