<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @workout.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @workout.title %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @workout.duration %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @workout.calories %>
</p>

<p>
  <strong>Note:</strong>
  <%= @workout.note %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
