<div class="card mb-3">
  <div class="dash-hero card-body text-center">
    <h2><span style="color:#C11111; font-size:1em"> <%= @user.username %>'s profile </h2>
  </div>
</div>

<h2 class="text-center mt-4"></h2>
   
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header">
          <h2><%= @user.username %></h2>
        </div>
        <div class="card-body">
          <div class="card-text-title text-center"><%=image_tag "user.jpeg", class: "user-icon p-2" %></div><br>
          <div class="card-text-title text-center"><%= simple_format('Registered email: ' + @user.email) %></div>
          <div class="card-text-title text-center"><%= pluralize(@user.workouts.count, "workout") %></div><br>
          

          
          
                  
          <%= link_to "Edit", edit_user_path(@user), class: "btn btn-block btn-outline-info" %>
          <% if logged_in? %>
            <% if @user == current_user %>
          <%= link_to "Delete profile", user_path(current_user), class: "btn btn-block btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            <%end%>
            <% if current_user.admin?%>
            <%= link_to "Delete profile", user_path(@user), class: "btn btn-block btn-outline-danger", method: :delete, data: {confirm: "This will delete the user and all associated workouts"} %>
            <%end%>
          <%end%>
          
          <%= link_to "Dashboard", workouts_path, class: "btn btn-block btn-outline-info" %>
        </div>
        <div class="card-footer text-muted">
        
        </div>
      </div>
    </div>
  </div>
  <%= render 'workouts/workout'%>
</div>