<!-- Footer -->
<footer class="bg-light fixed-bottom text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-1">
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg  text-center">
        

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#" class="text-dark">Terms of Use</a>
          </li>
          <li>
            <a href="#" class="text-dark">Contact us</a>
          </li>
          <li>
            <a href="#" class="text-dark">About</a>
          </li>
          
        </ul>
      </div>
      <!--Grid column-->

      
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center " style="background-color: rgba(0, 0, 0, 0.2)">
 <%= link_to "", class: "navbar-brand", id: "logo" %>
 <%= link_to "https://facebook.com", :target => "_blank" do %>
  <span style="font-size:2em"><%=fa_icon "facebook" %>    </span>
  <%end%>
  <%= link_to "", class: "navbar-brand", id: "logo" %>
 <%= link_to "https://twitter.com", :target => "_blank" do %>
  <span style="font-size:2em"><%=fa_icon "twitter" %>    </span>
  <%end%>
  <%= link_to "", class: "navbar-brand", id: "logo" %>
 <%= link_to "https://instagram.com", :target => "_blank" do %>
  <span style="font-size:2em"><%=fa_icon "instagram" %></span>
  <%end%>   
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->